#include "Generated.xcconfig"
CLANG_ALLOW_NON_MODULAR_INCLUDES_IN_FRAMEWORK_MODULES = YES
OTHER_CFLAGS = $(inherited) -Wno-error=non-modular-include-in-framework-module -Wno-non-modular-include-in-framework-module
OTHER_CPLUSPLUSFLAGS = $(inherited) -Wno-error=non-modular-include-in-framework-module -Wno-non-modular-include-in-framework-module
